{% extends "base.html" %}

{% block title %}Register User{% endblock %}
{% block content %}
    <section class="vh-100">
        <div>
            <div class="row d-flex align-items-center justify-content-center">
                <h2>Sign up</h2>
                <form method="post" class="signup-form mx-1 mx-md-4">
                    {% csrf_token %}
                    {% for field in user_form %}
                        <p class="">
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-lg mb-1">Sign up</button>
                </form>
            </div>
        </div>
    </section>
    
{% endblock %}

{% comment %} https://mdbootstrap.com/docs/standard/extended/registration/ {% endcomment %}