:root {
    --radiant-blue: #1cbfff;
}

.book-cart {
    margin: 0 !important;
}

.link-rel a {
    text-decoration: none;
    color: #3986a4;
    font-weight: 500;
}

.link-rel a:hover{
    color: var(--radiant-blue);
    text-decoration: underline;
}

.link-rel a:visited {
    color: #d55959;
}