:root {
    --radiant-blue: #1cbfff;
}

.item-image {
    width: 15%;
}
.item-details {
    width: 20%;
    margin: 0 2px;
}
.item-details a {
    margin: 0 2px;
    text-decoration: none;
    color: #16568a;
    font-size: 20px;
    transition: .2s linear;
}

.item-details a:hover {
    color: var(--radiant-blue);
}

#prod-qty {
    width: 64px;
}