:root {
    --radiant-blue: #1cbfff;
}


body{
	/* margin: 0; */
	/* padding: 0; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* min-height: 100vh; */
    color: var(--radiant-blue);
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

h2 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 70px;
}

.login-form {
    /* border: 2px solid red; */
}