{% extends "base.html" %}

{% block title %}{{book.title}}{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="row justify-content-start g-0">
        <main class="pt-5">
            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-first bg-light">
                    <img class="img-fluid mx-auto d-block pt-2" width="200px" alt="Responsive image" src="{{ book.cover.url }}">
                </div>
                <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <h1 class="mb-0 h4">{{ book.title }}</h1>

                    <p class="mb-0">Writer: 
                        <span class="lead link-rel">
                            <a href="{{book.author.get_absolute_url}}">{{ book.author }}</a>
                        </span>
                    </p>

                    <p>Publisher: 
                        <span class="lead link-rel">
                            <a href="{{book.publisher.get_absolute_url}}">{{ book.publisher }}</a>
                        </span>
                    </p>

                    <p>{{ book.description|slice:":355" }}...</p>
                    <div class="border">
                        <div class="col border-bottom">
                            <div class="row p-3">
                                <div class="col-6">Price</div>
                                <div class="col-6 text-end"><span class="h4 fw-bold">TK {{ book.price }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-6">
                                    <label for="select">Qty: </label>
                                    <!-- <select id="select"> -->
                                    <input type="number" min="1" value="1" id="prod-qty" class="w-25 quantity-box" />
                                    <!-- </select> -->

                                </div>
                                <div class="col-6 text-end">
                                    <button type="button" class="btn btn-secondary btn-sm" id="add-to-cart" value="{{book.id}}">
                                        Add to basket
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    //let prod_q = document.getElementById("prod-qty").value;
    //console.log(prod_q);
    
    $(document).on('click', '#add-to-cart', function(e){
        console.log($('#prod-qty').val())

        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:add_to_cart" %}',
            data: {
                productid: $('#add-to-cart').val(),
                productqty: $('#prod-qty').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(json) {
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function(xhr, errmsg, err) {}
        });
    })
</script>
{% endblock %}
