{% extends "base.html" %}
{% load static %}

{% block title %}{{book.title}}{% endblock %}

{% block content %}
<div id="" class="container">
    <div class="row justify-content-start g-0">
        <main class="pt-5">
            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-first bg-light">
                    <img class="img-fluid mx-auto d-block pt-2" width="200px" alt="Responsive image" src="{{ book.cover.url }}">
                </div>
                <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <h1 class="mb-0 h4">{{ book.title }}</h1>

                    <p class="mb-0">Writer: 
                        <span class="lead link-rel">
                            <a href="{{book.author.get_absolute_url}}">{{ book.author }}</a>
                        </span>
                    </p>

                    <p>Publisher: 
                        <span class="lead link-rel">
                            <a href="{{book.publisher.get_absolute_url}}">{{ book.publisher }}</a>
                        </span>
                    </p>

                    <p>{{ book.description|slice:":355" }}...</p>
                    <div class="border">
                        <div class="col border-bottom">
                            <div class="row p-3">
                                <div class="col-6">Price</div>
                                <div class="col-6 text-end"><span class="h4 fw-bold">TK {{ book.price }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-6">
                                    <label for="select">Qty: </label>
                                    <!-- <select id="select"> -->
                                    <input type="number" min="1" value="1" id="prod-qty" class="w-25 quantity-box" />
                                    <!-- </select> -->

                                </div>
                                <div class="col-6 text-end">
                                    <button type="button" class="btn btn-secondary btn-sm" id="add-to-cart" value="{{book.id}}" data-url='{% url "cart:add_to_cart" %}' onclick="cartItem(this);">
                                        Add to basket
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <section style="background-color: #f8f9fa;">
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                            <div class="card-body p-4">
                            <h4 class="mb-0">Recent comments</h4>
                            <p class="fw-light mb-4 pb-2">Latest Comments section</p>
                            {% for comment in comments %}
                    
                                <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3 col-1"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                                    height="60" />
                                <div class="col-11">
                                    <h6 class="fw-bold mb-1 badge bg-primary">{{ comment.user.first_name|title }}</h6>
                                    <div class="d-flex mb-3">
                                    <p class="m-0">
                                        {{ comment.created_at|date:"M d, Y" }}
                                    </p>
                                    <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                    <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                    <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        {{ comment.body }}
                                    </p>
                                </div>
                                </div>
                                <hr class="my-2" />
                            {% endfor %}
                        </div>
                


                        <div class="mx-0 my-2" style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="40"
                                height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="textAreaExample" rows="4"
                                        style="background: #fff;"></textarea>
                                    <label class="form-label" for="textAreaExample">Message</label>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="button" class="btn btn-primary btn-sm">Post comment</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                        </div>




                
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="{% static 'scripts/cart.js' %}"></script>
{% endblock %}
