{% extends "base.html" %}

{% block title %}All Books{% endblock %}
{% block content %}

<div id="content" class="container">
    <div class="row g-2 m-2">
        {% for book in books %}
                <div class='col-4 col-lg-4 col-sm-2 ms-0'>
                    <div class='card cards_book h-100'>
                        <div class=''>
                            <div class="book-img pt-2 d-flex justify-content-center overlay">
                                <img src={{ book.cover.url }} class="card-img-top">
                                <div class="hidden-content">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button class="btn btn-danger add-to-cart-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body text-center d-flex flex-column align-items-center justify-content-end">
                                <a href="{{ book.get_absolute_url }}" class="link-info"><h5 class="card-title">{{ book.title|title }}</h5></a>
                                <a href="{{ book.author.get_absolute_url }}" class="link-info"><b>{{book.author}}</b></a>
                                <p class="card-text">{{ book.description|capfirst|truncatechars:50 }}</p>
                            </div>
                        </div>

                    </div>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% comment %} {% extends 'footer.html' %} {% endcomment %}