{% extends 'base.html' %}
{% load static %}
{% block title %}Books Cart{% endblock %}

{% block content %}
<main class="pt-5">
    <div class='container'>
        <h1 class="h5 text-center mb-5">Shopping Cart </h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    {% with product=item.product %}
                    <tr>
                        <td class="item-image">
                            <div><img src={{product.cover.url}} width="100px"></div>
                        </td>
                        <td class="item-details">
                            <div class="d-flex flex-column">
                                <a href="{{product.get_absolute_url}}" class="">{{ product.title }}</a>
                                <a href="" class="">{{ product.author }}</a>
                            </div>
                        </td>
                        <td class="item-price text-center">{{ item.price }} BDT</td>
                        <td class="item-quantity text-center">
                            <input type="number" min="1" value="{{ item.qty }}" id="prod-qty" class="quantity-box" />
                        </td>
                        <td class="item-subtotal text-center">{{ item.total_price }} BDT</td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</main>
{% endblock %}