:root {
    --radiant-blue: #1cbfff;
}

* {
    margin: 0 auto;
}
body {
    background-color: rgb(118, 113, 113);
}

.nav-link:hover {
    color: var(--radiant-blue) !important;
}

.book-img {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 420px;
    transition: color linear .2s;
}
.book-img>img {
    height: 400px;
    object-fit: cover;
    
}
.book-img:hover {
    opacity: .6 red;
    /* transition: opacity .5s ease-in-out; */
}

.quantity-box:hover {
    border-color: var(--radiant-blue);
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.cover-cover {
    overflow: hidden;
    height: 30vh;
}


.author-image {
    height: 30vh;
    width: auto;
}


.bg-image {
    /* height: 400px; */
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    max-height: 250px;

    background-size: cover;
    background-position: center;
    filter: blur(12px);
    opacity: .6;
    z-index: -1;
    /* border: 2px solid var(--radiant-blue); */
    overflow: hidden;
}

.author-name-text>p {
    background-color: #1cbfff24;
    color: #fff;
    font-size: 1.5rem;
}

/* signup page */

form>p>label {
    border: 2px solid red;
}