:root {
    --radiant-blue: #1cbfff;
}

* {
    margin: 0 auto;
}
body {
    background-color: rgb(118, 113, 113);
}

.nav-link:hover {
    color: var(--radiant-blue) !important;
}

.book-img {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 420px;
    transition: color linear .2s;
}
.book-img>img {
    height: 400px;
    object-fit: cover;
    
}
.book-img:hover {
    opacity: .6 red;
    /* transition: opacity .5s ease-in-out; */
}

.quantity-box:hover {
    border-color: var(--radiant-blue);
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}